In [2]:
from enum import Enum

class Activities(Enum):
    eating = 'Eating'
    sleeping = 'Sleeping'
    toileting = 'Toileting'
    television = 'Television'
    cooking = 'Cooking'

class Locations(Enum):
    dining = 'Dining'
    bedroom = 'Bedroom'
    toilet = 'Toilet'
    livingroom = 'Living Room'
    kitchen = 'Kitchen'

In [32]:
import datetime

year, month, day = 2018, 1, 1
hour, minute, second = 6, 1, 1 
dformat = '%Y-%m-%d %H:%M:%S' 

start = datetime.datetime(year, month, day, hour, minute, second)
current = start

#end = current + datetime.timedelta(minutes=10000)
#print(current.strftime(dformat))
#print(end.strftime(dformat))

In [47]:
def gen_single(current, activity, location, duration, blank=False):
    end = current + datetime.timedelta(minutes=duration)
    single = { 
                'Start Time': current.strftime(dformat),
                'End Time': end.strftime(dformat), 
                'Activity': activity.value, 
                'Location': location.value
             }
    current = end
    return single, current


#act, current = gen_single(current, Activities.eating, Locations.dining, 30)
#print(act)

In [49]:
# List of ADLs
act_list = []
list = [
    {
        'activity': Activities.eating,
        'location': Locations.dining,
        'duration': 18
    },
    {
        'activity': Activities.television,
        'location': Locations.livingroom,
        'duration': 142
    },
    {
        'activity': Activities.sleeping,
        'location': Locations.bedroom,
        'duration': 450
    }
]

In [51]:
import pandas as pd

for i in list:
    act, current = gen_single(current, i['activity'], i['location'], i['duration'])
    act_list.append(act)
    
pd.DataFrame(act_list)

     Activity             End Time     Location           Start Time
0      Eating  2018-01-02 06:09:01       Dining  2018-01-02 05:51:01
1  Television  2018-01-02 08:31:01  Living Room  2018-01-02 06:09:01
2    Sleeping  2018-01-02 16:01:01      Bedroom  2018-01-02 08:31:01
3      Eating  2018-01-02 16:19:01       Dining  2018-01-02 16:01:01
4  Television  2018-01-02 18:41:01  Living Room  2018-01-02 16:19:01
5    Sleeping  2018-01-03 02:11:01      Bedroom  2018-01-02 18:41:01